@model UserProfileViewModel

<fieldset>
	<div class="container emp-profile">
		<div class="row">
			<div class="col-md-4">
				<div class="profile-img">
					<img src="#" alt="" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="profile-head">
					<label for="name">Name:</label>
					<h5 id="name">
						@Model.UserInfo.FirstName @Model.UserInfo.LastName
					</h5>
					<label for="age">Age:</label>
					<h5 id="age">
						@Model.UserInfo.Age
					</h5>
					<label for="ads">Ads:</label>
					<h5 id="ads">
						@Model.AdsCount
					</h5>
					<label for="createdAt">Join our team on:</label>
					<h5 id="createdAt">
						@Model.CreatedAt
					</h5>
				</div>
			</div>
		</div>
	</div>
</fieldset>